@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --brand: #0A2647;
  --dark: #112D4E;
  --dark-sub: #3F72AF;
  --light-sub: #DBE2EF;
  --light: #F9F7F7;
  --bg: #fff;
  --font-color: var(--brand);
  --green: #7fff7f;
  --yellow: #ffbf7f;
  --red: #ff7f7f;
  --blue: #7fbfff;
}

main .row {
  transition: ease 0.3s;
  opacity: 1;
  padding-bottom: 30px;
}
main .row.hide {
  display: none;
  opacity: 0;
}
main .row .content {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .row .content.arow button {
  font-weight: 600;
  font-size: large;
  text-align: center;
}
main .row .content.value {
  width: 100%;
}
main .row .content.value input {
  width: 100%;
}
main .row .content.value textarea {
  width: 100%;
  resize: none;
}
main .row table {
  border-collapse: collapse;
}
main .row table td,
main .row table th {
  border: solid;
  padding: 5px;
  text-align: center;
}
main .row table span.smail {
  font-size: x-small !important;
}
main .row table span.up {
  vertical-align: top !important;
}
main .row table span.bottom {
  vertical-align: bottom !important;
}