@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
html {
    font-family: 'Noto Sans JP', sans-serif;
}

:root {
    --brand: #0A2647;
    --dark: #112D4E;
    --dark-sub: #3F72AF;
    --light-sub: #DBE2EF;
    --light: #F9F7F7;
    --bg: #fff;
    --font-color: var(--brand);
    --green: #7fff7f;
    --yellow: #ffbf7f;
    --red: #ff7f7f;
    --blue: #7fbfff;
}

html {
    color: var(--font-color);
    background: var(--bg);
    border-color: var(--light-sub)!important;
    overscroll-behavior-y: none;
}

body {
    margin: 0;
    padding: 8px;
}

header {
    display: flex;
    align-items: center;
    border-bottom: solid;
    margin-bottom: 30px;
    .title {
        font-size: xx-large;
        font-weight: 600;
    }
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    nav {
        margin: 10px;
        .box {
            .box_title {
                text-wrap: nowrap;
                font-size: 20px;
                font-size: 20px;
                padding-bottom: 10px;
            }
            .content_title {
                padding-bottom: 10px;
            }
        }
    }
    .core {
        width: 100%;
        margin: 10px;
        .box {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            border: var(--brand) solid;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 4px 4px 15px 0px grey;
            transition: ease 0.3s;
            opacity: 1;
            &.hide {
                display: none;
                opacity: 0;
            }
            .content_title {
                text-wrap: nowrap;
                font-size: 20px;
                font-size: 20px;
                padding-bottom: 10px;
            }
            .content_box {
                width: 100%;
                .content {
                    margin: 10px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &.arow {
                        button {
                            font-weight: 600;
                            font-size: large;
                            text-align: center;
                        }
                    }
                    &.value {
                        width: 100%;
                        input {
                            width: 100%;
                        }
                        textarea {
                            width: 100%;
                            resize: none;
                        }
                    }
                }
                table {
                    border-collapse: collapse;
                    td,
                    th {
                        border: solid;
                        padding: 5px;
                        text-align: center;
                    }
                    span {
                        &.smail {
                            font-size: x-small;
                        }
                        &.up {
                            vertical-align: top;
                        }
                        &.bottom {
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
    }
}